/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #1f1b24; /* Preto */
    color: #ffffff; /* Branco */
  }
  
  header {
    background-color: #1a1a1a; /* Roxo forte */
    padding: 15px;
  }
  
  h1 {
    font-size: 24px;
    color: #ffffff; /* Branco */
  }
  
  nav {
    background-color: #1a1a1a; /* Roxo forte */
    padding: 10px;
  }
  
  .navbar {
    list-style: none;
  }
  
  .navbar li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .navbar li a {
    color: #ffffff; /* Branco */
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  #livros,
  #usuarios {
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  .estoque {
    font-weight: bold;
  }
  
  .btn-incrementar,
  .btn-decrementar {
    background-color: #1a1a1a; /* Roxo forte */
    color: #ffffff; /* Branco */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
  }
  
  .btn-incrementar:hover,
  .btn-decrementar:hover {
    background-color: #1a1a1a; /* Roxo mais claro */
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Estilo Global */
  body {
    font-family: Arial, sans-serif;
    background-color: #1D1D1D;
    color: #000000;

  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }

  /* Estilos do Cabeçalho */
  header {
    background-color: #161616;
    display: flex;
    padding: 10px;
    padding-inline: 20px;
    position: sticky;
    width: 100%;
    gap: 10px;
    top: 0;
  }

  .logo img {
    width: 70px;
  }

  .logo {
    margin-inline: 40px;
  }

  .book-list {
    padding: 40px 0;
    text-align: center;
  }

  .book-list h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .book-list ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
  }

  .book-list ul li {
    width: 30%;
    /* Add the following two properties to center the cards */
    display: flex;
    justify-content: center;

  }

  /* esse de baixo */
  .book-card {
    background-color: #E0E0E0;
    color: #000000;
    border-radius: 0%;
    padding: 5px;
    width: 250px;
    /* Largura desejada para cada elemento de livro */
    margin: 10px;
    /* Espaçamento entre os elementos */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }



  .btn-secondary:hover {
    background-color: #555;
  }

  /* Estilos do Rodapé */
  footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
  }

  footer p {
    color: #ffffff;
  }


  /* Estilo do botão de alternar modo */

  header {
    /* Estilos do cabeçalho no modo claro */
    background-color: #1D1D1D;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
  }

  .hotbartext1 {
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    height: min-content;
  }

  .botão {
    background-color: #B79BD8;
    border-radius: 10px;
    position: fixed;
    left: 90%;
    color: white;
    top: 90%;
    height: 20px;
  }


  /* Estilo para estrelas inativas */



  body {
    font-family: Arial, sans-serif;
    background-color: #252525;
    color: #333;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lista-livros {
    margin-top: 5em;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    row-gap: 50px;
  }

  .cartao {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    gap: 10px;
  }

  .cartao img {
    width: 200px;
    height: 300px;
    border-radius: 20px;
  }

  .imagem {
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, purple, blue);
  }

  .btn-secondary {
    background-color: #333;
    color: #7233DF;
    font-weight: bolder;
    text-decoration: none;
    border: white 0px solid;
    border-radius: 250px;
    background-color: #FFFFFF;
    padding: 5px;
    text-align: center;
    width: 200px;
  }

  .btn-secondary2 {
    background-color: #333;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    border: solid#8557F085 0px;
    border-radius: 250px;
    background: linear-gradient(76deg, rgba(99, 67, 135, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: center;
    width: 200px;
  }



  .bannr {
    display: flex;
    padding: 1em;
    justify-content: center;
  }

  .corzinha {
    border-radius: 10px;
    width: 90%;
    background: rgb(99, 67, 135);
    background: linear-gradient(76deg, rgba(99, 67, 135, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  .white {
    color: white;
  }

  .bolinhast {
    width: 10px;
    height: 10px;
  }


  .cab {
    display: flex;
    align-items: center;
    gap: 7px;
    width: 100%;
  }

  .cab a {
    padding: 7px;
    text-decoration: none;
    padding-inline: 10px;
    border-radius: 5px;
    transition-duration: 100ms;
  }

  .cab a:hover {
    background-color: #0000005D;
  }

  .botaozinho {
    width: 25px;
    background-color: transparent;
    color: white;
    border: none;

  }

  .hidden {
    display: none;
  }

  .navLateral {
    background-color: #161616;
    position: fixed;
    inset: 0;
    left: 0;
    height: 100%;
    width: 15%;
  }
  .flex {
    display: flex;
  }
  .esquerda {
    margin-left: 10%;
  }
  .pusca input[type="text"] {
  border-radius: 10px;
  font-size: 18px;
  border: 0px solid white;
  padding: 5px;
  color: white;
  background-color: #18191b;
  width: 40em;
  margin: 10px;
  height: 50px;
}

.pusca button {
  border-radius: 10px;
  font-size: 18px;
  border: 0px solid white;
  padding: 5px 20px;
  color: white;
  background-color: #18191b;
  height: 50px;
}
.user-status{
  position: absolute;
  left: 73em;

}